{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col col-lg-12">
                {% if user.is_superuser or user.personne == article.personne %}
                    <div class="text-right">
                        <hr>
                            <a class="btn btn-dark" href="{% url "article/edition" id_article=article.id %}">Editer l'article</a>
                        <hr>
                    </div>
                {% endif %}
                <div class="text-center">
                {% if article.image %}
                    <img class="rounded-circle float-left" src="{{ article.image.url }}" alt="Photo de l'article" width="140" height="140">
                {% endif %}
                    <h1>{{ article.titre }}</h1>
                </div>
                    <article class="text-justify mt-5">
                        {{ article.formatted_content_markdown |safe }}
                    </article>
            </div>
        </div>
    </div>
{% endblock %}