{% load static %}
<!-- Page de base pour tout le site sauf la page d'accueil
     Incluant notamment le header avec titre et formulaire
   -->
{# block used as header #}
{% block header %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <!-- Chargement du CSS, bootstrap, javascript et jQuery -->
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link type="text/css" media="all" href="{% static "bootstrap-4.3.1-dist/css/bootstrap.min.css" %}" rel="stylesheet"/>
    <link type="text/css" media="all" href="{% static "css/style.css" %}" rel="stylesheet"/>
    <title>Portefeuille de compétence de Brice Harismendy</title>
    </head>
    <body>
{% endblock %}

{% block nav %}
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <a class="navbar-brand" href="{% url 'accueil' %}">Brice Harismendy</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accueil' %}">Accueil</a>
                </li>
                {% for cat1 in cat_niv_1 %}
                    {% if cat1.has_sub %}
                         <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ cat1.nom_categorie }}</a>
                             <ul class="dropdown-menu">
                            {% for cat2 in cat_niv_2 %}
                                {% if cat2.cat_sup == cat1 %}
                                    {% if cat2.has_sub %}
                                        <li><a class="dropdown-item dropdown-toggle" href="#">{{ cat2.nom_categorie }}</a>
                                                <ul class="dropdown-menu">
                                                {% for cat3 in cat_niv_3 %}
                                                    {% if cat3.cat_sup == cat2 %}
                                                        {% if cat3.has_sub %}
                                                            <li><a class="dropdown-item dropdown-toggle" href="#">{{ cat3.nom_categorie }}</a>
                                                                <ul class="dropdown-menu">
                                                                    {% for cat4 in cat_niv_4 %}
                                                                        {% if cat4.cat_sup == cat3 %}
                                                                            {% if cat4.has_sub %}
                                                                                <li><a class="dropdown-item dropdown-toggle" href="#">{{ cat4.nom_categorie }}</a>
                                                                                    <ul class="dropdown-menu">
                                                                                    {% for cat5 in cat_niv_5 %}
                                                                                        {% if cat5.cat_sup == cat4 %}
                                                                                            {% if cat5.has_sub %}
                                                                                                <li><a class="dropdown-item dropdown-toggle" href="#">{{ cat5.nom_categorie }}</a>
                                                                                                    <ul class="dropdown-menu">
                                                                                                    {% for cat6 in cat_niv_6 %}
                                                                                                        {% if cat6.cat_sup == cat5 %}
                                                                                                             <li><a class="dropdown-item" href="{% url 'article/list_by_cat' id_cat=cat6.id %}">{{ cat6.nom_categorie }}</a></li>
                                                                                                        {% endif %}
                                                                                                    {% endfor %}
                                                                                                    </ul>
                                                                                                </li>
                                                                                            {% else %}
                                                                                                <li><a class="dropdown-item" href="{% url 'article/list_by_cat' id_cat=cat5.id %}">{{ cat5.nom_categorie }}</a></li>
                                                                                            {% endif %}
                                                                                        {% endif %}
                                                                                    {% endfor %}
                                                                                    </ul>
                                                                                </li>
                                                                                {% else %}
                                                                                    <li><a class="dropdown-item" href="{% url 'article/list_by_cat' id_cat=cat4.id %}">{{ cat4.nom_categorie }}</a></li>
                                                                            {% endif %}
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </ul>
                                                            </li>
                                                        {% else %}
                                                             <li><a class="dropdown-item" href="{% url 'article/list_by_cat' id_cat=cat3.id %}">{{ cat3.nom_categorie }}</a></li>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% else %}
                                        <li><a class="dropdown-item" href="{% url 'article/list_by_cat' id_cat=cat2.id %}">{{ cat2.nom_categorie }}</a></li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            </ul>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'article/list_by_cat' id_cat=cat1.id %}">{{ cat1.nom_categorie }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about_me' %}">Á propos de moi</a>
                    </li>
                </ul>

            <ul class="nav navbar-nav navbar-right navbar-fixed-top">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'article/search' %}">Rechercher</a>
                </li>
                {% if user.is_superuser %}
                    <li class="nav-item">
                        <a href="{% url 'administration/admin_panel' %}" class="nav-link">Admin Panel</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'article/new_article' %}" class="nav-link">Rédiger un article</a>
                    </li>
                {% endif %}
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'utilisateur/dashboard' %}" class="nav-link">Profil</a>
                    </li>

                    <li class="nav-item">
                        <a href="{% url 'utilisateur/deconnexion' %}" class="nav-link">Déconnexion</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'auth' %}">Connexion</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>
{% endblock %}
{% block head_content %}
    <main>
    <div class="jumbotron">
{% endblock %}
{% block nav_admin %}
{% endblock %}
{% block content %}
    <div class="container vertical-center" >
        <div class="row">
            {% for article in articles %}
                {% if article.publish %}
                    <div class="col-lg-4 text-center margin_5">
                {% if article.image %}
                    <img class="rounded-circle" src="{{ article.image.url }}" alt="Photo d'entête de l'article" width="140" height="140">
                {% else %}
                    <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
                {% endif %}
                    <h2>{{ article.titre }}</h2>
                        <p class="text-justify">
                            {{ article.formatted_resume_markdown|safe|slice:":200" }}
                        </p>
                        <p>
                            <a href="{% url 'article/affichage' id_article=article.id %} ">
                                <button class="btn btn-dark" role="button"> Voir plus »</button>
                            </a>
                        </p>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% if articles.has_other_pages %}
        <div id="wrapper" class="mt-5">
            <div id="page_selector" >
                <nav aria-label="Page pagination example">
                    <ul class="pagination">
                    {% if articles.has_previous %}
                        <li class="page-item"><a href="?page={{ articles.previous_page_number }}" class="page-link" aria-label="Previous">&laquo;</a></li>
                    {% else %}
                        <li class="disabled page-item"><span class="page-link">&laquo;</span></li>
                    {% endif %}
                    {% for i in articles.paginator.page_range %}
                        {% if articles.number == i %}
                            <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                            <li  class="page-item"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if articles.has_next %}
                        <li class="page-item"><a href="?page={{ articles.next_page_number }}" class="page-link">&raquo;</a></li>
                    {% else %}
                        <li class="disabled page-item"><span class="page-link">&raquo;</span></li>
                    {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    {% endif %}
{% endblock %}
    </div>
</main>
{% block script %}
    <script src="{% static "jquery/jquery.min.js" %}"></script>
    <script src="{% static "js/menu.js" %}"></script>
    <script src="{% static "bootstrap-4.3.1-dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "bootstrap-4.3.1-dist/js/popper.min.js" %}"></script>
{% endblock %}
{# block used for footer #}
{% block footer%}

        <footer>
            <hr>
            <div class="d-flex justify-content-center bd-highlight mb-3">
                <a href="{% url 'mention' %}" class="btn" >Mentions Légales</a>
                <a href="mailto:briceharismendy@gmail.com" class="btn">Contact</a>
            </div>

        </footer>
    </body>
</html>
{%  endblock %}
