{% extends 'base_admin.html' %}

{% block content %}

    <div class="container" >
            <h2><u>Ajout des catégories</u></h2>
            <form method="POST" action={% url 'categorie/new_cat' %}>
                {% csrf_token %}
                {% for field in form_cat.visible_fields %}
                    <div class="row form-group">
                        <div class="col-lg-4">
                            {{ field.label_tag }}
                        </div>
                        <div class="col-lg-7">
                            {{ field }}
                            {{ field.help_text }}
                        </div>
                    </div>
                {% endfor %}
                <div class="text-right">
                    <button class="btn btn-success default-primary-color" type="submit">Enregistrer la catégorie</button>
                </div>
            </form>
            {% for cat in category %}
                <h3>Catégorie niveau {{ cat.0.niv_cat }}</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Nom catégorie</th>
                            <th scope="col">Nom catégorie supérieur</th>
                            <th scope="col">A catégorie inférieur ?</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cat_s in cat %}
                            <tr>
                                <td>{{ cat_s.nom_categorie }}</td>
                                <td>{{ cat_s.cat_sup.nom_categorie | default:"N/A" }}</td>
                                <td>{{ cat_s.has_sub | default:"False" }}</td>
                                <td><a class="btn btn-xs btn-secondary active" href="{% url 'administration/edition_categorie' id_cat=cat_s.id %}">Edit</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endfor %}
        </div>
{% endblock %}