{%  extends 'base.html' %}
{% block content %}
    <div class="row margin_5 text-justify">
        <div class="col col-8 col-sm-12">
            <h1 class="text-center">curriculum vitae</h1>
            <h2 class="mt-5">&Eacute;tudes</h2>
            <ul class="list-group">
                <li class="list-group-item"><strong><u>En cours&nbsp;:&nbsp;</u></strong>Master 2 informatique Analyse Conception Développement Informatique</li>
                <li class="list-group-item"><strong><u>2016-2017&nbsp;:&nbsp;</u></strong>Licence Professionnelle Logiciels Libres - Mention Bien - Université d’Angers</li>
                <li class="list-group-item"><strong><u>2014-2016&nbsp;:&nbsp;</u></strong>BTS SIO SISR (Service Informatique aux Organisations Solutions d'Infrastructure Systèmes et Réseaux)(85)</li>
                <li class="list-group-item"><strong><u>2014&nbsp;:&nbsp;</u></strong>BACCALAURÉAT STI2D spécialité ITEC - Mention Bien - (Sciences et Technologies de l'Industrie et du Développement Durable spécialité Innovation Technologique et Éco-Conception)</li>
            </ul>
            <h2 class="mt-5">Expériences&nbsp;professionnelles&nbsp;:&nbsp;</h2>
            <ul class="list-group">
                <li class="list-group-item"><strong><u>Septembre 2018-Août 2019&nbsp;:&nbsp;</u>Alternant développeur python</strong>
                    <ul class="list-group">
                        <li class="list-group-item">
                            Alternance de master 2 au conseil départemental du Maine-et-Loire
                        </li>
                        <li class="list-group-item">
                            Mission principale : Construction de tableaux de bord dynamiques avec Zabbix/Grafana
                        </li>
                    </ul>
                </li>
                <li class="list-group-item"><strong><u>Avril-Août 2018&nbsp;:&nbsp;</u>Stage développeur Web / Python</strong>
                    <ul class="list-group">
                        <li class="list-group-item">
                            Stage de 2 mois et demi prolongé de deux mois sur le projet QuChemPedia au LERIA – Angers.
                        </li>
                        <li class="list-group-item">
                            Mission principale&nbsp;:&nbsp;</u>Mise en place d’une plateforme de stockage de calcul en chimie quantique moléculaire.
                        </li>
                    </ul>
                </li>
                <li class="list-group-item"><strong><u>Avril-Juillet 2017&nbsp;:&nbsp;</u>Stage développeur Python</strong>
                    <ul class="list-group">
                        <li class="list-group-item">
                            Stage de 4 mois dans l’entreprise Tranquil IT Systems – Saint-Sébastien-sur-Loire.
                        </li>
                        <li class="list-group-item">
                            Mission principale&nbsp;:&nbsp;Automatisation des tests de non régression sur le logiciel WAPT
                        </li>
                    </ul>
                </li>
                <li class="list-group-item"><strong><u>Janvier-Février 2016&nbsp;:&nbsp;</u>Stage Administrateur Systèmes et Réseaux</strong>
                    <ul class="list-group">
                        <li class="list-group-item">
                            Stage de 6 semaines à la Communauté de Communes des Olonnes.
                        </li>
                        <li class="list-group-item">
                            Mission principale&nbsp;:&nbsp;</u>Mise en place d'une solution de Télédéploiement d'application
                        </li>
                    </ul>
                </li>
                <li class="list-group-item"><strong><u>Juin 2015&nbsp;:&nbsp;</u>Stage Administrateur Systèmes et Réseaux</strong>
                    <ul class="list-group">
                        <li class="list-group-item">
                            Stage de 4 semaines au Lycée Notre-dame de Fontenay le comte
                        </li>
                        <li class="list-group-item">
                            Mission principale&nbsp;:&nbsp;Mise en place d'une solution de supervision réseau
                        </li>
                    </ul>
                </li>
                <li class="list-group-item"><strong><u>Autre &nbsp;:&nbsp;</u>Membre d’honneur de l’association Boblecodeur</strong>
                    <ul class="list-group">
                        <li class="list-group-item">
                            Tâche&nbsp;:&nbsp;Mise en place et gestion du serveur de mail et du serveur gitlab.
                        </li>
                        <li class="list-group-item">
                            Site Web&nbsp;:&nbsp;<a href="https://boblecodeur.fr/">https://boblecodeur.fr/</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <h2 class="mt-5">Compétences Informatiques</h2>
            <ul class="list-group">
                <li class="list-group-item">Systèmes&nbsp;:&nbsp;
                    <ul class="list-group">
                        <li class="list-group-item">-Haute disponibilité (HSRP, Heartbeat, Haproxy,OSPF).</li>
                        <li class="list-group-item">-Administration de serveur active Directory, DNS, DHCP, SNMP, Radius.</li>
                        <li class="list-group-item">-Administration de Pare-feu, d'IDS, d'un VPN, et d'un Proxy.</li>
                        <li class="list-group-item">-Gestion de système de virtualisation.</li>
                    </ul>
                </li>
                <li class="list-group-item">Réseaux&nbsp;:&nbsp;
                    <ul class="list-group">
                        <li class="list-group-item">-Administration et configuration de routeur et switch (Cisco,HP).</li>
                        <li class="list-group-item">-Sécurisations des protocoles réseaux.</li>
                    </ul>
                </li>
                <li class="list-group-item">Programmation&nbsp;:&nbsp;
                    <ul class="list-group">
                        <li class="list-group-item">PHP / CSS3 / HTML5 (XHTML) / C# / Python / Powershell / C / C++ / Java /
                        Ajax / Javascript / JQuery / JEE / Jinja 2 / Django / Flask / Android.</li>
                    </ul>
                </li>
                <li class="list-group-item">Gestion des données&nbsp;:&nbsp;
                    <ul class="list-group">
                        <li class="list-group-item">XML, JSON, MySQL, PostGreSQL, ElasticSearch.</li>
                    </ul>
                </li>
                <li class="list-group-item">Apprentissage automatique&nbsp;:&nbsp;
                    <ul class="list-group">
                        <li class="list-group-item">Tensorflow et keras (débutant).</li>
                    </ul>
                </li>
            </ul>
            <h2 class="mt-5">Langues&nbsp;:&nbsp;</h2>
            <ul class="list-group">
                <li class="list-group-item">
                    Anglais&nbsp;:&nbsp;Bonnes bases écrites, anglais courant à l'oral (niveau B2).
                </li>
                <li class="list-group-item">
                    Espagnol&nbsp;:&nbsp;Niveau A2.
                </li>
            </ul>
            <h2 class="mt-5">Centres d’intérêts&nbsp;:&nbsp;</h2>
            <ul class="list-group">
                <li class="list-group-item">
                    La musique (saxophoniste durant 6 ans, guitare actuellement).
                </li>
                <li class="list-group-item">
                    le cyclisme (sport).
                </li>
                <li class="list-group-item">
                    l'électronique.
                </li>
            </ul>
        </div>
        <div class="col col-xl-2 col-lg-2 col-md-2 col-sm-12 text-center affix">
            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <div class="text-left">
                Permis B <br>
                Contacts :<br>
                Mail : briceharismendy@gmail.com<br>
                Twitter : <a href="https://twitter.com/BHarismendy">Brice Harismendy</a><br>
                LinkedIn : <a href="https://www.linkedin.com/in/brice-harismendy-2277b3107/">Brice Harismendy</a><br>
            </div>
        </div>
    </div>
{% endblock %}