{% extends 'base.html' %}
{% block content %}
    <div class="container vertical-center" >
        <div class="row">
            {% for article in articles %}
                    <div class="col-lg-4 text-center margin_5">
                    {% if projet.image %}
                        <img class="img-circle" src="{{ article.image.url }}" alt="Photo d'entête de l'article" width="140" height="140">
                    {% else %}
                        <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
                    {% endif %}
                        <h2>{{ article.titre }}</h2>
                            <p class="text-justify">
                                {{ article.formatted_markdown|safe|slice:":200" }}
                            </p>
                        <p><a href="{% url 'accueil'%} "><button class="btn btn-dark" role="button"> Voir plus »</button></a></p>
                    </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}